body { 

	font-family: 'Russo One', sans-serif;
	color: white; 
	margin: 0; 
	overflow:hidden; 
}

canvas { 
	width: 100%; 
	height: 100%;
	filter: blur(10px);
	position: absolute;
	z-index: -99;
	transform: scale(1.1);
}

.statistik-window {
  	display: flex;
 	flex-direction: column;
    position: fixed;
    width: 50%;
    height: 50%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.0);
    z-index: 2;
}

.chat-window {
  	display: flex;
 	flex-direction: column;
    position: fixed;
    width: 25%;
    height: 40%;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.0);
    z-index: 2;
}

.username-layer {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(237,75,67,0.1);
}

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

#game-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.0);
}

#crosshair-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.0);
}

#team-tag-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.0);
}

#instructions {
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.hide{
  display: none !important;
}

